<div class="container">
  <div class="row">
    <%= link_to 'Back', root_path %>
    <h1>Employee Dashboard</h1>
    <br/>
    <br/>
    <% if @employee_table_data.present? %>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

      <table id="employee-datatable">
        <thead>
          <tr>
            <th>Site</th>
            <th>Permanent</th>
            <th>Contract</th>
            <th>Permanent Male</th>
            <th>Permanent Female</th>
            <th>Contract Male</th>
            <th>Contract Female</th>
            <th>Overall Workforce</th>
            <th>Male:Female Ratio</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_table_data.each do |employee_data| %>
            <tr>
              <% employee_data.each do |data| %>
                <td><%= data %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      No Data found please upload the file <%= link_to 'Click Here', root_path %>
    <% end %>

    <% if @employee_chart_data.present? %>
      <% @employee_chart_data.map do |title, values| %>
        <br/>
        <br/>
        <%= bar_chart values.map{|key, value| {name: key, data: value}}, title: title %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#employee-datatable').DataTable({
      "ordering": false,
      "dom": 'Bfrtip',
      "buttons": [ "csv", "excel", "pdf" ]
    });
  });
</script>
